@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
.bg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}h1{
font-family: 'Titillium Web', sans-serif;
     color: Blue;
     margin: auto;
    width: 60%;
  font-size: 70px;
  text-shadow: 2px 2px;
}

.my-container{
  width:90%;
  margin: 0px auto;
  max-width: 1000px;
  background-color: azure;
  padding: 3%
}

}
 p{
   color:grey;
 }

h2 {
  color:blue;
}

body {
  background-color: #2C3539;
}

.pure-button {
  color: green;
           border-radius: 10px;
           text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
