@import url(https://fonts.googleapis.com/css?family=Titillium+Web);


body {
  background-image: url("https://newevolutiondesigns.com/images/freebies/galaxy-wallpaper-5.jpg");
}






h1{
font-family: 'Titillium Web', sans-serif;
     color: Blue;
     margin: auto;
    width: 60%;
  font-size: 70px;
  text-shadow: 2px 2px;
}

.my-container{
  width:90%;
  margin: 0px auto;
  max-width: 1000px;
  background-color:  #ffe6ff;
  padding: 3%
}

}
 p{
   color:grey;
 }

h2 {
  color:blue;
}


.pure-button {
  color: green;
           border-radius: 10px;
           text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
