@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

h1{
font-family: 'Titillium Web', sans-serif;
     color: Blue;
     margin: auto;
    width: 60%;
  font-size: 70px;
  text-shadow: 2px 2px;
}

.my-container{
  width:90%;
  margin: 0px auto;
  max-width: 1000px;
  background-color: azure;
  padding: 3%
}
.pure-button {

           background: rgb(28, 184, 65); /* this is a green */

}
 p{
   color:grey;
 }

h2 {
  color:blue;
}

body {
  background-color: #2C3539;
}
